Django==5.2.17
djangorestframework==3.18.1
djangorestframework-simplejwt==5.5.1
django-filter==26.1
drf-spectacular==0.30.0
psycopg[binary]>=3.2,<4
Pillow>=11.0,<13
gunicorn>=23,<24

firebase-admin==7.6.0
